.form {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

.form h1 {
  color: black;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
  color: black;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.modebtn {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300) !important;
  color: var(--color-gray-800) !important;
  border: none;
}

.modebtn:hover {
  background-color: var(--color-primary-300) !important;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions a:hover {
  background-color: var(--color-gray-800);
}